<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= user.about %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

</div>
